@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);
@import 'package:angular_components/css/material/material';

$w25: 25%;
$w75: 75%;
$w100: 100%;

html {
  font-size: 62.5%;
  min-height: 100%;
}

body {
  font-size: 14px;
  padding: 0;
  margin: 0;
  background: url('static-map.jpg') no-repeat center center;
  background-size: cover !important;
  min-height: 100%;
}

* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.fill-width {
  width: 100%;
  position: relative;
}

.row {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 10px;
}

.col {
  position: relative;
  border: 1px solid #eee;
  background: rgba(255, 255, 255, .95);
  padding: 10px;
  box-shadow: 0 8px 6px -6px rgb(0, 0, 0, .5);
  border-radius: .5rem;
}

@media screen and (min-width: 320px) {

  .col {

    &.col25 {
      width: $w100;
      margin-bottom: 10px;
    }

    &.col75 {
      width: $w100;
    }

    &.col100 {
      width: $w100;
    }
  }
}

@media screen and (min-width: 990px) {

  .col {

    &.col25 {
      width: calc(#{$w25} - 5px);
      margin-bottom: 0;
    }

    &.col75 {
      width: calc(#{$w75} - 5px);
    }

    &.col100 {
      width: $w100;
    }
  }
}

@media screen and (min-width: 1300px) {

  .container {
    width: 90%;
    max-width: 1200px;
  }
}

@media screen and (min-width: 1600px) {

  .container {
    max-width: 1400px;
  }
}